/* --- Basic decor --- */
.list-none{
    list-style: none;
}
.container-style{
    border-radius: 4px;
    border: 1px solid #D5DCE6;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.07);
    background: white;
}

/* --- Font Weights --- */
.font-w-700{
    font-weight: 700;
}
.font-w-600{
    font-weight: 600;
}
.font-w-500{
    font-weight: 500 !important;
}

/* --- Overflow --- */
.ov-scroll{
    overflow-y: scroll;
}
.ov-hidden{
    overflow: hidden;
}

._logText{ /* change to longText <-> add n */
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

/* --- Dynamic Visibility --- */
    /* ---> VISIBLE <--- */
.visible-sm{
    visibility: hidden;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
    .visible-sm{
        visibility: visible !important;
    }
}

.visible-md{
    visibility: hidden;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    .visible-md{
        visibility: visible;
    }
}
/* ---> NOT Visible <--- */
.hidden-md{
    visibility: visible;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    .hidden-md{
        visibility: hidden;
        display: none;
    }
}