
.nav-Adv-btn-style{
    background: hsla(0,0%,100%,.3);
    border-radius: 3px;
    display: block;
    float: left;
    font-weight: 700;
    line-height: 32px;
    min-width: 32px;
    padding: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#advencSubNuv{
    background:-webkit-linear-gradient(91deg, #003087e6 6%, #205bc5e6 97%);
}

@media (min-width: 200px) and (max-width: 450px) { 
    .advNav-font-resp{
        font-size: 20px;
    }
}

.proj-search-input{
    margin-left: 1rem;
    border-radius: 3px;
    border:none;
    outline: none;
    color:black;
}

#proj-search:focus{
    width: 250px;
    transition: 10000ms ease;
}

@media (min-width: 200px) and (max-width: 688px) { 
    .min-btn-md{
        display: none;
    }
}

.logo-style{
    font-size:23px;
    font-weight:600;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.82);
    font-family: 'Dancing Script', cursive;
}

.ant-dropdown-menu {
    max-width: 250px !important;
}

#notific-container .dropdown-toggle::after{
    display: none
}

#notific-container .anticon-bell{
    padding:.25rem;
}

#notific-menu{
    width: 296px;
    max-height: 323px;
    overflow-y: scroll;
    left: -130px !important;
}

.projectBttn a{
    font-size: 14px;
}


  /* HEADER */
  #home-logo{
    font-size: 2rem !important;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.5);
    text-align: center;
    color:#ffff;
    font-family: Dancing Script, cursive;
  }
